{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Controle panel{% endblock titre %}

{% block main %}


<style>
    .text-gray {
        color: gray;
    }
</style>

<main class="container">
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Commande : {{ order.order_number }}</h3>
        <button type="button" data-modal-targget="modal-update-order" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5>Informations de la commande</h5>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">N° de la commande</span>
                        <span class="text-gray pl-2">{{ order.order_number }}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Faite le :</span>
                        <span class="text-gray pl-2">{{ order.created_at }}<br>Donc il y a {{order.created_at|timesince}}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Dernière modification :</span>
                        <span class="text-gray pl-2">{{ order.updated_at }}<br>Donc il y a {{order.updated_at|timesince}}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Temps de la récupération :</span>
                        <span class="text-gray pl-2">{{ order.get_recovery_datetime }}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Visiblité :</span>
                        <span class="text-gray pl-2">{{ order.get_visibilty }}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Statut actuel :</span>
                        <span class="text-{{order.get_status_color}} pl-2">{{ order.status }}</span>
                    </div>
                    <hr>
                    <h5>Informations du client</h5>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Nom complet :</span>
                        <span class="text-gray pl-2">{{ order.user.full_name }}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Adresse mail :</span>
                        <span class="text-gray pl-2">{{ order.user.email_address }}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">N° de téléphone :</span>
                        <span class="text-gray pl-2">{{ order.user.set_phone_number_format }}</span>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-content-center">
                        <span style="font-weight: bold;">Adresse :</span>
                        <span class="text-gray pl-2">{{ order.get_address }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="crad">
                <div class="card-body">
                    <h5>Produits de la commande</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Quantité</th>
                                    <th>Prix</th>
                                    <th>Prix total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.items.all %}
                                    <tr>
                                        <td>
                                            <a href="{{ item.product.get_url }}">{{ item.product.product_name }}</a>
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.product.price }} €</td>
                                        <td>{{ item.get_total_price }} €</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="mg-costum-modal-holder">
        <div id="modal-update-order" class="mg-costum-modal">
            <div class="mg-costum-modal-header">
                <div class="mg-costum-modal-header-content">Modificatrion d'une commande</div>
                <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
            </div>
            <div class="mg-costum-modal-body">
                <form action="{% url 'admincos:edit_order' order.order_number %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                        <label for="new-order-status">La statut de la commande</label>
                        <select name="new-order-status" id="new-order-status" class="form-control form-select">
                            {% for id, status in get_all_order_status.items %}
                                <option value="{{ id }}" {% if order.get_status == status %}selected{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="btns mt-3">
                        {% if order.is_active %}
                        <a href="{% url 'admincos:change_visibilty' order.order_number False %}" class="normal-link px-3 py-2 rounded text-white bg-danger">Archiver</a>
                        {% else %}
                        <a href="{% url 'admincos:change_visibilty' order.order_number True %}" class="normal-link px-3 py-2 rounded text-white bg-success">Désarchiver</a>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="mg-costum-modal-footer">
                <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Modifier</button>
            </div>
        </div>
    </div>

</main>

{% endblock main %}
