{% extends 'base.html' %}

{% load static %}

{% block title %}Produit{% endblock %}

{% block main %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap">
	<div class="img-big-wrap">
	   <a href="#">{% if single_product.images %}<img src="{{ single_product.images.url }}">{% endif %}</a>
	</div> <!-- img-big-wrap.// -->

</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">{{ single_product.product_name }}</h2>

<div class="rating-star">
	<span>
		<i class="fa fa-star{% if single_product.averageRaview < 0.5 %}-o{% elif single_product.averageRaview >= 0.5 and single_product.averageRaview < 1 %}-half-o{% endif%}" aria-hidden="true"></i>
		<i class="fa fa-star{% if single_product.averageRaview < 1.5 %}-o{% elif single_product.averageRaview >= 1.5 and single_product.averageRaview < 2 %}-half-o{% endif%}" aria-hidden="true"></i>
		<i class="fa fa-star{% if single_product.averageRaview < 2.5 %}-o{% elif single_product.averageRaview >= 2.5 and single_product.averageRaview < 3 %}-half-o{% endif%}" aria-hidden="true"></i>
		<i class="fa fa-star{% if single_product.averageRaview < 3.5 %}-o{% elif single_product.averageRaview >= 3.5 and single_product.averageRaview < 4 %}-half-o{% endif%}" aria-hidden="true"></i>
		<i class="fa fa-star{% if single_product.averageRaview < 4.5 %}-o{% elif single_product.averageRaview >= 4.5 and single_product.averageRaview < 5 %}-half-o{% endif%}" aria-hidden="true"></i>
		{{ single_product.averageRaview }}
	</span>
</div>
<span>{{ single_product.countRaview }} Reviews</span>


<div class="mb-3">
	<var class="price h4">€ {{ single_product.price }}</var>
</div>
<hr>
<h6>Description</h6>
<p>{{ single_product.description }}</p>


	<!-- <hr>
	<div class="row">
		<div class="item-option-select">
			<h6>Choose Color</h6>
			<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> Silver
			  </label>
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color" > Gray
			  </label>
			  <label class="btn btn-light active">
			    <input type="radio" name="radio_color checked"> Gold
			  </label>
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> Black
			  </label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="item-option-select">
			<h6>Select Size</h6>
			<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> S
			  </label>
			  <label class="btn btn-light active">
			    <input type="radio" name="radio_color" checked> M
			  </label>
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> L
			  </label>
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> XL
			  </label>
			</div>
		</div>
	</div> -->
	<hr>


	<div class="row">
		<div class="w-100 d-flex justify-content-center align-items-center gap-5">
			{% if single_product.stock <= 0 %}
		<h5 class="text-danger">Out of stock</h5>
    {% else %}
		{% if in_cart %}
			<a href="#" class="btn  btn-success"> <span class="text">Added to cart</span> <i class="fas fa-check"></i>  </a>
			<a href="{% url 'cart' %}" class="btn  btn-primary"> <span class="text">View Cart</span> <i class="fas fa-eye"></i>  </a>
		{% else %}
			<a href="{% url 'add_cart' single_product.id %}" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
		{% endif %}
	{% endif %}
			{% if request.user.is_superuser %}
				<a href="{% url 'admincos:update_product' single_product.slug %}" class="normal-link bg-success text-white px-3 py-2 rounded border ml-3">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
				<button type="button" data-modal-targget="modal-delete-prod" onclick="open_close_GM_costum_modal(this)"  class="normal-link bg-danger  text-white px-3 py-2 rounded border ml-3">
					<i class="fa-solid fa-trash"></i>
				</button>

			{% endif %}
		</div>
	</div>
	<hr>

</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">



				


	<header class="section-heading">
		<h3>Avis des clients </h3>

	</header>
{% for review in reviews %}
	<article class="box mb-3">
		<div class="icontext w-100">
			<div class="text">
				<span class="date text-muted float-md-right">{{ review.created_date }}</span>
				<h5 class="mb-1">{{ review.user.full_name }}</h5>

			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<h6>{{ review.subject }}</h6>
			<div class="rating-star">
				<span>
					<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
				</span>
			</div>
			<p>
				{{ review.review }}
			</p>
		</div>
	</article>
{% endfor %}



	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<div class="mg-costum-modal-holder">
	<div id="modal-delete-prod" class="mg-costum-modal">
		<div class="mg-costum-modal-header">
			<div class="mg-costum-modal-header-content">Supprission d'un fournisseurs</div>
			<span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
		</div>
		<div class="mg-costum-modal-body">
			Vous voulez supprimer <span class="text-danger">{{ single_product.product_name }}</span> ?
		</div>
		<div class="mg-costum-modal-footer">
			<button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
			<button class="mg-costum-modal-footer-btn" id="mg-costum-modal-footer-btn-go">
				<a href="{% url 'admincos:delete_produit' single_product.slug %}" class="text-white">Supprimer</a>
			</button>
		</div>
	</div>

</div>
{% endblock main %}
