{% extends 'base.html' %}

{% load static %}

{% block titre %}Commande Confirmée{% endblock titre %}


{% block main %}


<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Paiement réussi</h2>
	<br>
	<div class="text-center">
		<a href="{% url 'store' %}" class="btn btn-success">Achetez plus</a>
	</div>
</div>

<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img src="{% static '/images/logo.jpg' %}" alt="Invoice logo" style="max-height: 40px;"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong>Facturé à</strong></li>
                                    <li>{{ order.full_name }}</li>
                                    <li>{{ order.full_address }}</li>
                                    <li>{{ order.city }}, {{ order.postal_code }}</li>
                                    <li>{{ order.country }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Commande</strong> {{ order_number }}</li>
                                        <li><strong>Transaction</strong> {{ transID }}</li>
                                        <li><strong>Date de commande:</strong> {{ order.created_at }}</li>
                                        <li><strong>Statut:</strong> {{ payment.status }}</li>
                                    </ul>
                                </div>
                            </div>
                           
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Articles</th>
                                                <th class="per5 text-center">Quantité</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in ordered_products %}
                                            <tr>
                                                <td>{{ item.product.product_name }}</td>
                                                <td class="text-center">{{ item.quantity }}</td>
                                                <td class="text-center">€ {{ item.product_price }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sous-total :</th>
                                                <th class="text-center">€ {{ subtotal }}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">TVA:</th>
                                                <th class="text-center">€ {{ order.tax }}</th>
                                            </tr>
                                            
                                            <tr>
                                                <th colspan="2" class="text-right">Montant total:</th>
                                                <th class="text-center">€ {{ order.order_total }}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Merci pour votre achat!</p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>


{% endblock %}