{% extends 'base.html' %}

{% load static %}

{% block title %}Cart{% endblock title %}

{% block main %}


<section class="section-content padding-y bg">
    <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <h4 class="text-center mb-10">Vérifiez votre commande et effectuez le paiement</h4>
        <div class="row">
            <aside class="col-lg-8">
        <div class="card">
            <div class="card">
                <h5 class="card-header">
                    Adresse de facturation
                </h5>
                <div class="card-body">
                  <p class="card-text mb-2">{{ order.full_name }}</p>
                  <p class="card-text mb-0">{{ order.full_address }}</p>
                  <p class="card-text mb-0">{{ order.city }}, {{ order.postal_code }}</p>
                  <p class="card-text mb-2">{{ order.country }}</p>
                  <p class="card-text mb-0">{{ order.email_address }}</p>
                  <p class="card-text mb-0">{{ order.phone_number }}</p>
                  {% if order.order_note %}
                    <b>Note Importante: </b> {{ order.order_note }}
                  {% endif %}
                </div>
              </div>
        </div> <!-- card.// -->
        <div class="card">
            <div class="card">
                <h5 class="card-header">
                    Mode de paiement
                </h5>
                <div class="card-body">
                  <p class="card-text">PayPal</p>
                </div>
              </div>
        </div> <!-- card.// -->
        <div class="card">
            <div class="card">
                <h5 class="card-header">
                    Examiner les produits
                </h5>
                <div class="card-body">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><a href="{{ cart_item.product.get_url }}">{% if cart_item.product.images %}<img src="{{ cart_item.product.images.url }}" class="img-sm">{% endif %}</a></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">color: 25 Mpx <br> size: Canon</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <!-- col.// -->
                                <label for="">{{ cart_item.quantity }}</label>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">€ {{ cart_item.sub_total }}</var>
                                    <small class="text-muted">€ {{ cart_item.product.price }}</small>
                                </div> <!-- price-wrap .// -->
                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>
                        </table>
                </div>
              </div>
        </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-3">

                <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                    <dt>Total price:</dt>
                    <dd class="text-right">€ {{ total }}</dd>
                    </dl>
                    <dl class="dlist-align">
                    <dt>Tax:</dt>
                    <dd class="text-right">€ {{ tax }}</dd>
                    </dl>
                    <dl class="dlist-align">
                    <dt>Total:</dt>
                    <dd class="text-right text-dark b"><strong>€ {{ grand_total }}</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="{% static 'images/misc/payments.png' %}" height="26">
                    </p>
                    <div id="paypal-button-container"></div>
                </div> <!-- card-body.// -->
                </div> <!-- card.// -->

        </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
    </section>



    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }



        var amount = "{{ grand_total }}"
        var url = "{% url 'payments' %}"
        const csrftoken = getCookie('csrftoken');
        var orderID = "{{ order.order_number }}"
        var payment_method = "PayPal"
        var redirect_url = "{% url 'order_complete' %}"
        console.log(csrftoken)
        console.log(url)
        console.log(payment_method)
        console.log(orderID)
        console.log(redirect_url)
        console.log(amount)
        console.log("1")
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                console.log("2")
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details){
                    console.log("3")
                    sendData();
                    function sendData(){
                        fetch(url, {
                            method : "POST",
                            headers : {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                payment_method: payment_method,
                                status: details.status,
                            }),
                        })
                        .then(response => response.json())
                        .then((data) => {
                            console.log('Success:', data);
                            console.log('Transaction completed.');
                            window.location.href = redirect_url + "?order_number=" + data.order_number + "&payment_id=" + data.transID;
                        })
                    }
                });
            }


        }).render('#paypal-button-container');
    </script>

    {% endblock main %}