{% extends 'base.html' %}

{% load static %}



{% block title %}Dashboard{% endblock title %}

{% block main %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="min-height: 84dvh;">


    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Changez votre mot de passe :</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    
                    <div class="col-md-12">
                        <form action="{% url 'change_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <label> Mot de passe actuel</label>
                                    <input type="password" name="current_password", placeholder="Mot de passe actuel" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label> Créer un nouveau mot de passe</label>
                                    <input type="password" name="new_password", placeholder="Nouveau mot de passe" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label> Confirmer le nouveau mot de passe</label>
                                    <input type="password" name="confirm_new_password", placeholder="Confirmez le mot de passe" class="form-control" required>
                                </div>
                            </div>
                            <input type="submit"  class="btn btn-primary" value="Sauvegarder">
                        </form>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock main %}