{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block main %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="min-height: 84dvh;">


    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">connecté en tant que :</strong>
                <span>{{ user.full_name }}</span>
            </header>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card" style="text-align: center;">
                            <div class="card-body">
                                <h5 class="card-title">Commandes totales</h5>
                                <h4>{{ orders_count }}</h4>
                                <a href="">Afficher les commandes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="text-align: center;">
                            <div class="card-body" >
                                {% if user.userprofile.profile_picture %}
                                    <img src="{{ user.userprofile.profile_picture.url }}" alt="User Profile Picture" width="50" height="50" style="border-radius: 50%;">
                                {% endif %}
                                <p class="mb-0">{{ user.email_address }}</p>
                                <p>{{ user.phone_number }}</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock main %}