{% extends 'base.html' %}

{% load static %}



{% block title %}Dashboard{% endblock title %}

{% block main %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="min-height: 84dvh;">


    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Modifier votre profil :</strong>
            </header>
            <div class="card-body">
                <div class="text-right">
                    {% if user.userprofile.profile_picture %}
                        <img src="{{ userprofile.profile_picture.url }}" alt="profile_picture" class="img-thumbnail" width="100" style="border-radius: 50%;">
                    {% endif %}
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Nom</label>
                                    {{ user_form.first_name }}
                                </div> <!-- form-group end.// -->
                                <div class="form-group col-md-6">
                                    <label>Prénom</label>
                                    {{ user_form.last_name }}
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Numéro de téléphone</label>
                                    {{ user_form.phone_number }}
                                </div> <!-- form-group end.// -->
                                <div class="form-group col-md-6">
                                    <label>Image de profil</label>
                                    {{ profile_form.profile_picture }}
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label> Adresse</label>
                                {{ profile_form.address_line_1 }}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Ville</label>
                                    {{ profile_form.city }}
                                </div> <!-- form-group end.// -->
                                <div class="form-group col-md-4">
                                    <label>Code Postal</label>
                                    {{ profile_form.postal_code }}
                                </div> <!-- form-group end.// -->
                                <div class="form-group col-md-4">
                                    <label>Pays</label>
                                    {{ profile_form.country }}
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <input type="submit"  class="btn btn-primary" value="Sauvegarder">
                        </form>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock main %}