{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block main %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->

    {% if request.GET.command == 'verification' %}

    <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top: 100px;">
      Merci de vous être inscrit chez nous. Nous vous avons envoyé un e-mail de vérification à votre adresse e-mail [{{ request.GET.email }}]
      <br><br>
      Déjà vérifié ? <a href="{% url 'login' %}">Login</a>    
    </div>



    {% else %}


        <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Mot de passe oublié</h4>
          <form action="{% url 'forgotpassword' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Adresse e-mail" name="email_address" >
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <a href="{% url 'login' %}" class="float-right">Mot de passe obtenu ? se connecter</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group container" style="max-width: 250px;">
                  <button type="submit" class="btn btn-primary btn-block"> Valider  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Je n'ai pas de compte ? <a href="{% url 'register' %}">S'inscrire</a></p>
         <br><br>

    {% endif %}
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


    {% endblock main %}
    