{% extends 'base.html' %}


{% block title %}Dashboard{% endblock title %}

{% block main %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="min-height: 84dvh;">


    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Votre historique de commandes :</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Commande #</th>
                                <th scope="col">Nom de facturation</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Commande Total</th>
                                <th scope="col">Date</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <th scope="row"><a href="{% url 'order_detail' order.id %}">{{ order.order_number }}</a></th>
                                        <td>{{ order.full_name }}</td>
                                        <td>{{ order.phone_number }}</td>
                                        <td>€{{ order.order_total }}</td>
                                        <td>{{ order.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock main %}