{% extends 'base.html' %}


{% load static %}


{% block title %}register{% endblock title %}


{% block main %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4"><h4 class="card-title">S'inscrire</h4></header>
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Prénom</label>
                              {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Nom de famille</label>
                              {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->

                    


                    <div class="form-group">
                      <label>Adresse e-mail</label>
                      {{ form.email_address }}
                      <small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
                    </div> <!-- form-group end.// -->

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Numéro de téléphone</label>
                        {{ form.phone_number }}
                      </div> <!-- form-group end.// -->
                  </div> <!-- form-row.// -->

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Créer un mot de passe</label>
                            {{ form.password }}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Répéter le mot de passe</label>
                            {{ form.confirm_password }}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Enregistrer  </button>
                    </div> <!-- form-group// -->      
                    {{ form.email_address.errors }}
                    {{ form.non_field_errors }}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Avoir un compte? <a href="{% url 'login' %}">Connexion</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    
    {% endblock main %}