{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block main %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->

        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Réinitialiser le mot de passe</h4>

            {% include 'includes/alerts.html' %}

          <form action="{% url 'resetpassword' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <input type="password" class="form-control" placeholder="nouveau mot de passe" name="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirmez le mot de passe" name="confirm_password">
              </div> <!-- form-group// -->
            
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Réinitialiser  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


    {% endblock main %}
    