{% load static %}
<header class="section-header" style="background-color: rgb(34, 33, 33);">
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="{% url 'home' %}" class="brand-wrap">
                <img class="logo" src="{% static './images/logo.jpg' %}">
            </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i> Toute catégorie
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'store' %}">Toutes les produits</a>
                    {% for categorie in categories %}
                        <a class="dropdown-item" href="{{ categorie.get_url }}">{{ categorie.category_name }}</a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <a href="{% url 'store' %}" class="btn btn-outline-info">Magasin</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
            <form action="{% url 'get_products_with_q' %}"  method="GET" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" name="q" style="width:60%;" placeholder="Rechercher ...">

                    <div class="input-group-append">
                      <button class="btn btn-info" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        {% if request.user.is_superuser%}
    <div class="position-relative">
        <button type="button" onclick="handleAdminSideBar()" class="normal-btn rounded px-3 py-2" style="color: var(--admin-sidebar-fg-color);background-color: var(--admin-sidebar-bg-color); border:none !important;">
            <i id="openCloseAdminSideBarIcon" class="fa-solid fa-bars fs-4"></i>
        </button>
    </div>
    {% endif %}
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        {% if user.id is None %}
                            <div class="widget-header">
                                <small class="title text-muted" >Invité de bienvenue!</small>
                                <div>
                                    <a href="{% url 'login' %}" style="color: aliceblue;">S'identifier</a> <span class="dark-transp" style="color: aliceblue;"> | </span>
                                    <a href="{% url 'register' %}" style="color: aliceblue;"> S'enregistrer</a>
                                </div>
                            </div>
                        {% else %}
                        <div class="widget-header">
                            <small class="title text-muted">bienvenue {{ user.first_name }}</small>
                            <div>
                                <a href="{% url 'dashboard' %}" style="color: aliceblue;">Profil</a> <span class="dark-transp" style="color: aliceblue;"> | </span>
                                <a href="{% url 'logout' %}" style="color: aliceblue;"> Se déconnecter</a>
                            </div>
                        </div>

                        {% endif %}
                        {% if not user.is_admin %}
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                        </a>
                        {%endif%}
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->




    </header> <!-- section-header.// -->

<!-- ========================= HEADER END  ========================= -->