<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <script
			src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
			integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
    <title>{{report_id}}</title>
  </head>
  <body id="invoice">
    <header class="header" id="header">
      <img src="./logo.png" alt="img" />
    </header>
    <main>
      <section class="address">
        <div class="left">
          <h3>Drones Pro</h3>
          <h4>
            1 Rue du Maréchal Leclerc, <br />
            45000 Orléans, <br />
            france métropolitaine
          </h4>
          <br />
          <h4>Tél : 0603883312</h4>
          <h4>Mail : contact@drons.fr</h4>
          <h4>Site Web : www.drons.fr</h4>
          <h4>SIRET : 811 620 541 000 29</h4>
        </div>
        <div class="right">
          <span class="grey">Adresse de livraison et de facturation</span>
          <h4>Jean Jaurès Gbaguidi</h4>
          <h4>
            2 Rue Saint-Roch, <br />
            59100 Roubaix, <br />France métropolitaine
          </h4>
          <br />
          <h4>Tél : 0650194946</h4>
          <h4>Mail : Jeanjauresgbaguidi@gmail.com</h4>
        </div>
      </section>
      <section class="rapport_type">
        <p>Facture de remplacement des pièces.</p>
        <h3>Le 07/04/2023</h3>
        <h3>Facture #FA113002</h3>
      </section>
      <section class="table">
        <div class="left">
          <div class="row">Numéro de la facture :<br />#FA113002</div>
          <div class="row">Date de cmmande :<br />07/04/2023</div>
          <div class="row">Mode de paiement :<br />PayPal</div>
        </div>
        <div class="center">
          <div class="row">
            <div class="col">pièce(s) changée(s)</div>
            <div class="col">Quantité</div>
            <div class="col">Prix unitaire<br />(HT)</div>
            <div class="col">Prix unitaire<br />(TTC)</div>
            <div class="col">Total (TTC)</div>
          </div>
          <div class="row">
            <div class="col">Carte principale</div>
            <div class="col">1</div>
            <div class="col">90.00 </div>
            <div class="col">108.00</div>
            <div class="col">108.00</div>
          </div>
        </div>
      </section>
      <section>
        <div class="prices">
          <div class="row">
            <p>Total Produits HT :</p>
            <p>90.00</p>
          </div>
          <div class="row">
            <p>Total Produits TTC :</p>
            <p>108.00</p>
          </div>
          <div class="row">
            <p>Total :</p>
            <p>108.00</p>
          </div>
        </div>
      </section>
    </main>
    <button id="download-button">Download as PDF</button>
    <script>
        const button = document.getElementById('download-button');

        function generatePDF() {
            console.log('here')
            // Choose the element that your content will be rendered to.
            const element = document.getElementById('invoice');
            // Choose the element and save the PDF for your user.

            button.style.display = 'none'
            html2pdf().from(element).save();
        }

        button.addEventListener('click', generatePDF);
    </script>
</body>
</html>