body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Courier New", Courier, monospace;
  }
  header {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
  }
  header > img {
    width: 10rem;
    height: 10rem;
  }
  .address {
    display: flex;
    /* width: 100%; */
    height: 250px;
    justify-content: space-between;
    margin: 0 0.8rem;
  }
  .address h3,
  .address h4 {
    margin: 0.3rem;
  }
  .rapport_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rapport_type > * {
    margin: 0.2rem;
  }

  .table {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0.2rem;
    width: 97%;
  }
  .table > * {
    margin: 0.2rem;
  }
  .table .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }

  .table .center .row {
    font-weight: bold;
    background-color: #0000007f;
    padding: 1rem 1rem;
    color: white;
  }
  .table .center .row .col {
    width: 20%;
    text-align: center;
    padding: 0 5px;
  }
  .table .center .row:first-child {
    font-weight: bold;
    background-color: #000000d1;

    color: white;
  }
  .table .left .row {
    margin: 0.2rem;
  }
  .table .center {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1;
  }
  .table .center .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.2rem;
  }
  .table .center .row .col {
    width: 20%;
    text-align: center;
  }
  .table .center .row .col:first-child {
    width: 40%;
    text-align: left;
  }
  .table .center .row .col:last-child {
    width: 20%;
    text-align: right;
  }
  .grey {
    color: grey;
  }
  .table .center .row .col:last-child .col {
    width: 20%;
    text-align: right;
  }
  .prices {
    width: fit-content;
    display: flex;
    flex-direction: column;
    float: right;
    margin: 4rem 2rem 4rem 2rem;
  }
  .prices .row {
    display: flex;
    white-space: nowrap;
  }
  .border {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: #000000;
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .conditions .text {
    margin-left: 2rem;
  }