{% extends '../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Fournisseurs{% endblock titre %}

{% block main %}

<style>
    .table tbody td{
        vertical-align : inherit !important;
    }
</style>
<main class="container">

    <h3 class="text-center text-dark">Liste des produits de {{ category.category_name }}</h3>
    <div class="w-100 h-100 border rounded shadow px-4 py-3 my-2">
        {% if products.count == 0%}
        <div class="alert alert-danger text-center">
            <p>Ce fournisseur ne vous fournit aucun produits pour le moment!</p>
        </div>
        {% else %}
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">category</th>
                    <th scope="col">In stock</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ product.get_url }}">
                            <img style="width: auto; height: 4rem;" src="{{ product.images.url }}" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.get_url }}">
                            {{ product.product_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.category.get_url  }}">
                            {{ product.category }}
                        </a>
                    </td>
                    <td>
                        {{ product.stock }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>

{% endblock main %}
