{% extends 'base.html' %}

{% load static %}

{% block title %}Cart{% endblock title %}

{% block main %}


<section class="section-content padding-y bg" style="min-height: 84dvh;">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    {% if not cart_items %}
        <h2 class="text-center">Votre panier est vide</h2>
        <br>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-info">Continuer vos achats</a>
        </div>

    {% else %}
    
        <div class="row">
            <aside class="col-lg-9">
        <div class="card">
        <table class="table table-borderless table-shopping-cart">
        <thead class="text-muted">
        <tr class="small text-uppercase">
        <th scope="col">Produit</th>
        <th scope="col" width="120">Quantité</th>
        <th scope="col" width="120">Prix</th>
        <th scope="col" class="text-right" width="200"> </th>
        </tr>
        </thead>
        <tbody>
        {% for cart_item in cart_items %}
        <tr>
            <td>
                <figure class="itemside align-items-center">
                    <div class="aside"><a href="{{ cart_item.product.get_url }}">{% if cart_item.product.images %}<img src="{{ cart_item.product.images.url }}" class="img-sm">{% endif %}</a></div>
                    <figcaption class="info">
                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                    </figcaption>
                </figure>
            </td>
            <td> 
                <!-- col.// -->
                            <div class="col"> 
                                <div class="input-group input-spinner">
                                    <div class="input-group-prepend">
                                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </a>
                                    </div>
                                    <input type="text" readonly="readonly" class="form-control"  value="{{ cart_item.quantity }}">
                                    <div class="input-group-append">
                                    <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div> <!-- input-group.// -->
                            </div> <!-- col.// -->
            </td>
            <td> 
                <div class="price-wrap"> 
                    <var class="price">€ {{ cart_item.sub_total }}</var> 
                    <small class="text-muted">€ {{ cart_item.product.price }}</small> 
                </div> <!-- price-wrap .// -->
            </td>
            <td class="text-right"> 
            <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-danger"> Retirer</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-3">

                <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                    <dt>Total price:</dt>
                    <dd class="text-right">€ {{ total }}</dd>
                    </dl>
                    <dl class="dlist-align">
                    <dt>Tax:</dt>
                    <dd class="text-right">€ {{ tax }}</dd>
                    </dl>
                    <dl class="dlist-align">
                    <dt>Total:</dt>
                    <dd class="text-right text-dark b"><strong>€ {{ grand_total }}</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="{% static 'images/misc/payments.png' %}" height="26">
                    </p>
                    <a href="{% url 'checkout' %}" class="btn btn-info btn-block"> Vérifier </a>
                    <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuer vos achats</a>
                </div> <!-- card-body.// -->
                </div> <!-- card.// -->

        </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    {% endif %}
    
    </div> <!-- container .//  -->
    </section>


    {% endblock main %}