{% extends 'base.html' %}

{% load static %}

{% block title %}Cart{% endblock title %}

{% block main %}


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->

    
        <div class="row">
            <aside class="col-lg-6">


        <div class="card">
            <div class="card-body">
                <h4>Adresse de facturation</h4>
                <form action="{% url 'place_order' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="first_name">Prénom</label>
                            <input name="first_name" type="text" class="form-control" placeholder="Prénom" required>
                        </div>
                        <div class="col form-group">
                            <label for="last_name">Nom</label>
                            <input name="last_name" type="text" class="form-control" placeholder="Nom" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="email_address">e-mail</label>
                            <input name="email_address" type="text" class="form-control" placeholder="e-mail" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="phone_number">Numéro de téléphone</label>
                            <input name="phone_number" type="text" class="form-control" required>
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="address_line_1">N° et nom de la rue</label>
                            <input name="address_line_1" type="text" class="form-control" placeholder="ex( 58 Rue Roland Garros )" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="country">Pays</label>
                            <input name="country" type="text" class="form-control" value="France" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="postal_code">Code postal</label>
                            <input name="postal_code" type="text" class="form-control" placeholder="69000" required>
                        </div>
                        <div class="col form-group">
                            <label for="city">Ville</label>
                            <input name="city" type="text" class="form-control" placeholder="Lyon" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="date_recovery">Choisissez une date pour récuperer vos achats :</label>
                            <input class="form-control" type="date" id="date_recovery"
                                   name="date_recovery" value="2023-06-12"
                                   min="2023-06-07" >
                            <span id="date"></span>
                        </div>
                        <div class="col form-group">
                            <label for="time_recovery">Choisissez une heure pour récuperer vos achats :</label>
                            <input class="form-control" type="time" id="time_recovery"
                                   name="time_recovery" min="00:00" required>
                            <span id="time"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="order_note">À noter (facultatif)</label>
                            <textarea name="order_note" type="text" class="form-control" placeholder="Votre note"></textarea>
                        </div>
                    </div>




                
            </div>
        </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-6">

                <div class="card">
                <div class="card-body">
                    
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><a href="{{ cart_item.product.get_url }}">{% if cart_item.product.images %}<img src="{{ cart_item.product.images.url }}" class="img-sm">{% endif %}</a></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">color: 25 Mpx <br> size: Canon</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                <!-- col.// -->
                                <label for="">{{ cart_item.quantity }}</label>
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">€ {{ cart_item.sub_total }}</var> 
                                    <small class="text-muted">€ {{ cart_item.product.price }}</small> 
                                </div> <!-- price-wrap .// -->
                            </td>

                        </tr>
                        {% endfor %}
                
                        </tbody>
                        </table>

                    <button class="btn btn-primary btn-block" type="submit" name="submit" id="checkout_btn">Passer la commande</button>
                    <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuer vos achats</a>
                </form>
                </div> <!-- card-body.// -->
                </div> <!-- card.// -->

        </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    
    </div> <!-- container .//  -->
    </section>
    <script>
        // Récupérer la date actuelle

        var dateInput = document.getElementById("date_recovery");

        // Créer un objet de date pour la date actuelle
        var dateActuelle = new Date();

        // Obtenir la date actuelle au format AAAA-MM-JJ
        var dateActuelleFormatee = dateActuelle.toISOString().split("T")[0];

        // Définir la valeur de l'input de date avec la date actuelle
        dateInput.value = dateActuelleFormatee;

        // Récupérer la date saisie par l'utilisateur (supposons que la date est entrée dans un champ de formulaire avec l'id "dateInput")
        var dateSaisie = new Date(document.getElementById("date_recovery").value);

        // Récupérer l'élément de saisie de date (supposons qu'il ait l'ID "date_recovery")
        var dateInput = document.getElementById("date_recovery");

        // Attacher l'événement input à l'élément de saisie de date
        dateInput.addEventListener("input", validerDate);

        // Fonction de validation de la date
        function validerDate() {
            var dateActuelle = new Date();
            var dateSaisie = new Date(dateInput.value);

            var dateActuelleFormatee = dateActuelle.toISOString().split("T")[0];
            var dateSaisieFormatee = dateSaisie.toISOString().split("T")[0];

            if (dateSaisieFormatee < dateActuelleFormatee) {
                var span = document.getElementById("date");
                span.style.color = "red";
                span.innerHTML = "Erreur : la date saisie est antérieure à la date actuelle.";
            } else {
                var span = document.getElementById("date");
                span.style.color = "green";
                span.innerHTML = "La date est valide.";
            }
        }






        var dateActuelle = new Date();
        var heure = dateActuelle.getHours();
        var minute = dateActuelle.getMinutes();

        // Formatage de l'heure et des minutes avec des zéros devant si nécessaire
        var heureFormattee = heure < 10 ? "0" + heure : heure;
        var minuteFormattee = minute < 10 ? "0" + minute : minute;

        // Récupérer l'élément input (supposons qu'il ait l'ID "time_recovery")
        var timeInput = document.getElementById("time_recovery");
        


        var heureInput = document.getElementById("time_recovery");

        heureInput.addEventListener("input", validerHeure);

        var checkout_btn = document.getElementById("checkout_btn");
        checkout_btn.disabled = true;

        function validerHeure() {
            var heureActuelle = new Date();

            heureActuelle.setHours(dateActuelle.getHours() );
            var heureSaisie = heureInput.value;

            var heureActuelleFormatee = new Date(dateActuelleFormatee + "T" + heureActuelle.toTimeString().split(" ")[0]);
            var heureSaisieFormatee = new Date(dateActuelleFormatee + "T" + heureSaisie);

            console.log(heureActuelleFormatee);
            console.log(heureSaisieFormatee);

            if (heureSaisieFormatee < heureActuelle) {
                var span = document.getElementById("time");
                span.style.color = "red";
                span.innerHTML = "Erreur : l'heure saisie est antérieure à l'heure actuelle.";
                checkout_btn.disabled = true;
            } else {
                var span = document.getElementById("time");
                span.style.color = "green";
                span.innerHTML = "L'heure est valide.";
                checkout_btn.disabled = false;
            }
        }
    </script>


    {% endblock main %}