{% extends 'base.html' %}

{% load static %}

{% block titre %}Store{% endblock titre %}

{% block main %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Notre magasin</h2>

    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y" style="min-height: 54dvh;">
    <div class="container">

    <div class="row">
        <aside class="col-md-3">

    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title" style="color: rgba(255, 0, 0, 0.774);">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">

                    <ul class="list-menu">
                        <li><a href="{% url 'store' %}">toutes les produits</a></li>
                    {% for category in categories %}
                        <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                    {% endfor %}
                    </ul>

                </div>
            </div>
        </article>

    </div>

        </aside>
        <main class="col-md-9">

    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{ products_count }}</b> Objets trouvés </span>

            </div>
    </header>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap">

                    <a href="{{ product.get_url }}" class="img-wrap"> {% if product.images %}<img src="{{ product.images.url }}">{% endif %} </a>

                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">€ {{ product.price }}</span>
                        </div> <!-- price-wrap.// -->
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if product.averageRaview < 0.5 %}-o{% elif product.averageRaview >= 0.5 and product.averageRaview < 1 %}-half-o{% endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.averageRaview < 1.5 %}-o{% elif product.averageRaview >= 1.5 and product.averageRaview < 2 %}-half-o{% endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.averageRaview < 2.5 %}-o{% elif product.averageRaview >= 2.5 and product.averageRaview < 3 %}-half-o{% endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.averageRaview < 3.5 %}-o{% elif product.averageRaview >= 3.5 and product.averageRaview < 4 %}-half-o{% endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if product.averageRaview < 4.5 %}-o{% elif product.averageRaview >= 4.5 and product.averageRaview < 5 %}-half-o{% endif%}" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <a href="{{ product.get_url }}" class="btn btn-block btn-info">voir les détails </a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
    </div> <!-- row end.// -->


    <nav class="mt-4" aria-label="Page navigation sample">
        {% if products.has_other_pages %}
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>

        </main> <!-- col.// -->

    </div>

    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock main %}