.rate > input {
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
}

.rate > label{
    float: right;
}

.rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    content: "\f005";
    font-family: FontAwesome;
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

input:checked ~ label, label:hover ~ label{
    color: #ffb503;
}

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label, input:hover ~ input:checked ~ label{
    color: #cc9000;
}

.rating-star i{
    font-size: 1.1rem;
    color: #ffb503;
}