{% extends 'base.html' %}

{% load static %}

{% block titre %}Accueil{% endblock titre %}

{% block main %}

    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-intro padding-y-sm">
    <div class="container">
    
        <div class="bd-example">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" style="max-height: 30rem; object-fit: cover;"  data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src="{% static './images/photo2.jpg' %}" data-holder-rendered="true">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" style="max-height: 30rem; object-fit: cover;" data-src="holder.js/800x400?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [800x400]" src="{% static './images/photo3.jpeg' %}" data-holder-rendered="true">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" style="max-height: 30rem; object-fit: cover;" data-src="holder.js/800x400?auto=yes&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide [800x400]" src="{% static './images/photo1.2.jpeg' %}" data-holder-rendered="true">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
    
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
    <div class="container">
    
    <header class="section-heading">
        <h3 class="section-title">Produits populaires</h3>
    </header><!-- sect-heading -->
    
        
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card card-product-grid">
                <a href="{{ product.get_url }}" class="img-wrap"> {% if product.images %}<img src="{{ product.images.url }}">{% endif %} </a>
                <figcaption class="info-wrap">
                    <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                    <div class="price mt-1">{{ product.price }} €</div> <!-- price-wrap.// -->
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if product.averageRaview < 0.5 %}-o{% elif product.averageRaview >= 0.5 and product.averageRaview < 1 %}-half-o{% endif%}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageRaview < 1.5 %}-o{% elif product.averageRaview >= 1.5 and product.averageRaview < 2 %}-half-o{% endif%}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageRaview < 2.5 %}-o{% elif product.averageRaview >= 2.5 and product.averageRaview < 3 %}-half-o{% endif%}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageRaview < 3.5 %}-o{% elif product.averageRaview >= 3.5 and product.averageRaview < 4 %}-half-o{% endif%}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageRaview < 4.5 %}-o{% elif product.averageRaview >= 4.5 and product.averageRaview < 5 %}-half-o{% endif%}" aria-hidden="true"></i>
                        </span>
                    </div>
                </figcaption>
            </div>
        </div> <!-- col.// -->
        {% endfor %}
    </div> <!-- row.// -->
    <div class="d-flex justify-content-center align-content-center align-items-center">
      <a href="{% url 'store' %}" class="btn btn-outline-info float-right" style="width: 10rem;">Voir tout</a>
    </div>
    
    </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
    
    
    
    

{% endblock main %}
