{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosaïque | {% block titre %}{% endblock titre %}</title>

    <!--
    ==========================
    à modifier le logo de site plus tard
    ==========================
    -->
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Font awesome 5 -->
    <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />

    <!-- custom style -->
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/costum-style.css' %}" rel="stylesheet"/>

    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- custom javascript -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>

    <!-- paypal script -->
    <script src="https://www.paypal.com/sdk/js?client-id=ARMLXi-S3DqPYJHsmHGfg-i2BudAXKQZznI7spG9fUjzAjv5ANYTcnvQVTJtD76Vsmv7hpj_wT89hXzK&currency=EUR"></script>

    <script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function() {
        // jQuery code

    });
    // jquery end
    </script>

</head>
<body>
    <style>
        .list-group-item.active {
            z-index: 2;
            color: #fff;
            background-color: #30cfc7;
            border-color: #30cfc7;
        }
    </style>
    <!-- navbar -->
    {% include 'includes/user/navbar.html' %}
    {% if request.user.is_superuser%}
    {% include './includes/admin/sidebar.html' %}
    {% endif %}
    {% block main %}{% endblock main %}

    <!-- footer -->
    {% include 'includes/user/footer.html' %}

    <script src="{% static 'assets/gm.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/costum-script.js' %}" type="text/javascript"></script>
    <script>
        handleChangeSubMenu()
    </script>

</body>
</html>