<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container" id="product-container">
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Liste des produits{% if category %} de {{ category.category_name }}{% elif supplier  %} de {{ supplier.name }}{% endif %}</h3>
        <button type="button" data-modal-targget="modal-create-prod" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="w-100 h-100 border rounded shadow px-4 py-3 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Fornesseur</th>
                    <th scope="col">In stock</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a >
                            ss
                        </a>
                    </td>
                    <td>
                        <a>
                            ss
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.category.get_url  }}">
                            ss
                        </a>
                    </td>
                    <td>
                        <a>
                            ss
                        </a>
                    </td>
                    <td>
                        ss
                    </td>
                    <td>
                        <button type="button" class="normal-btn bg-danger text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>