{% extends '../base.html' %}

{% load static %}

{% block titre %}Controle panel{% endblock titre %}

{% block main %}

<main class="container" style="min-height: 84dvh;">
    <div class="d-flex align-content-between mx-2 my-1 border-bottom border-3 position-relative">
        <!-- include ../includ/sidebar.html -->

        <h3 class="text-center text-dark flex-grow-1">Liste des commandes passés</h3>
    </div>
    {% if orders %}
    <div class="w-100 h-100 border border-top-0 rounded shadow px-2 py-1 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">n° commande</th>
                    <th scope="col">Faite par</th>
                    <th scope="col">Faite le</th>
                    <th scope="col">Récupération le</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Payé</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="text-{{order.get_status_color}}">
                    <th scope="row"><a href="{% url 'admincos:one_order' order.order_number %}">{{ order.order_number }}</a></th>
                    <td scope="row">{{ order.user.full_name }}</td>
                    <td scope="row">{{ order.created_at }}</td>
                    <td scope="row">{{ order.get_recovery_datetime }}</td>
                    <td scope="row">{{ order.status }}</td>
                    <td scope="row">
                        {% if order.is_ordered %}
                            <span class="bg-success text-white p-2" style="border-radius: 50%;"><i class="fa-solid fa-check"></i></span>
                        {% else %}
                            <span class="bg-danger text-white p-2" style="border-radius: 50%;"><i class="fa-solid fa-x"></i></span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-danger text-center w-75 mx-auto text-success">
        <h5>Aucun commande dans l'archive pour le montant</h5>
    </div>
    {% endif %}
</main>

{% endblock main %}
