{% extends '../base.html' %}

{% load static %}

{% block titre %}Controle panel{% endblock titre %}

{% block main %}

<main class="container">
    <h3 class="text-center text-dark mx-2 my-1 border-bottom border-3 rounded ">Liste des commandes passés</h3>
    <div class="w-100 h-100 border border-top-0 rounded shadow px-2 py-1 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">n° commande</th>
                    <th scope="col">Faite par</th>
                    <th scope="col">Faite le</th>
                    <th scope="col">Articles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">12345</th>
                    <td>GHIZLAN Moqim</td>
                    <td>15-01-2023</td>
                    <td>Article 1</td>
                </tr>
                <tr>
                    <th scope="row">12345</th>
                    <td>GHIZLAN Moqim</td>
                    <td>15-01-2023</td>
                    <td>Article 1</td>
                </tr>
                <tr>
                    <th scope="row">12345</th>
                    <td>GHIZLAN Moqim</td>
                    <td>15-01-2023</td>
                    <td>Article 1</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

{% endblock main %}
