#product-container .table tbody td {
  vertical-align: inherit !important;
}

#product-container #image-container {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
#product-container #image-container img {
  position: relative;
  width: auto;
  height: 5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

#product-container #image-container .image-wrapper {
  position: relative;
  width: auto;
  height: 5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

#product-container button.delete-button {
  position: absolute;
  top: 0px;
  right: 8px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 50%;
}

/*                    */
#new-product-container #image-container img {
  position: relative;
  width: auto;
  height: 20rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

#new-product-container #image-container .image-wrapper {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 0.5rem;
  border-radius: 5px;
}

#new-product-container button.delete-button {
  position: absolute;
  top: 17px;
  right: 25px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 50%;
}

/*                    */

#product-container button.delete-button {
  position: absolute;
  top: 0px;
  right: 8px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 50%;
}
#adminSideBar {
  position: absolute;
  border-radius: 10px;
  width: 50%;
  left: 25%;
  height: 500px;
  background-color: var(--admin-sidebar-bg-color);
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  transform: scale(0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
}
#adminSideBar.active {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}
#adminSideBar .left {
  width: 20%;
  height: 100%;
}
#adminSideBar .center {
  width: auto;
  height: 100%;
}
#adminSideBar ul.menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  list-style: none;
  padding: 2rem 4rem;
}
#adminSideBar ul.menu-list li {
  border-bottom: 2px solid gray;
  cursor: pointer;
}

#adminSideBar ul.menu-list li span {
  text-decoration: none;
  color: var(--admin-sidebar-fg-color);
  font-size: 1.3rem;
}
#adminSideBar ul.menu-list li span a {
  text-decoration: none;
  color: var(--admin-sidebar-fg-color);
  font-size: 1.3rem;
}

#adminSideBar #closeAdminSideBar {
  position: absolute;
  right: 0;
  color: red;
  background-color: white;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}

#admin-quick-access {
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #2c3034;
  color: whitesmoke;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 5px 20px 15px -20px #111;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 99;
  right: 1rem;
  bottom: 1rem;
}
#admin-quick-access ul.active {
  transform: scale(1);
}
#admin-quick-access ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  right: 0;
  list-style: none;
  opacity: 0.7;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
#admin-quick-access ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#admin-quick-access ul li a {
  color: #212529;
  text-decoration: none;
}
#admin-quick-access ul li a span {
  position: absolute;
  right: 55px;
  font-size: 16px;
  margin-top: 2px;
  background-color: #212529;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.one-ligne-text {
  white-space: nowrap;
}
