{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Controle panel{% endblock titre %}

{% block main %}


<style>
    .text-gray {
        color: gray;
    }
</style>

<main class="container">
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Commande : {{ order.order_number }}</h3>
        <button type="button" data-modal-targget="modal-update-order" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <!--  -->
    <div class="row">
        <aside class="col-lg-4">


    <div class="card">
        <div class="card-body">
            <h4>Informations de la commande</h4>
            <div class="d-flex flex-column justify-content-start align-content-center">
                <span style="font-weight: bold;">N° de la commande</span>
                <span class="text-gray pl-2">{{ order.order_number }}</span>
            </div>
            <div class="d-flex flex-column justify-content-start align-content-center">
                <span style="font-weight: bold;">Faite par :</span>
                <span class="text-gray pl-2">{{ order.user }}</span>
            </div>
            <div class="d-flex flex-column justify-content-start align-content-center">
                <span style="font-weight: bold;">Faite le :</span>
                <span class="text-gray pl-2">{{ order.created_at }}<br>Donc il y a {{order.created_at|timesince}}</span>
            </div>
            <div class="d-flex flex-column justify-content-start align-content-center">
                <span style="font-weight: bold;">Dériner modification :</span>
                <span class="text-gray pl-2">{{ order.updated_at }}<br>Donc il y a {{order.updated_at|timesince}}</span>
            </div>
            <div class="d-flex flex-column justify-content-start align-content-center">
                <span style="font-weight: bold;">Status accteul :</span>
                <span class="text-gray pl-2">{{ order.status }}</span>
            </div>
        </div>
    </div>

        </aside>
        <aside class="col-lg-8">

    </aside>


    </div>

    <div class="mg-costum-modal-holder">
        <div id="modal-update-order" class="mg-costum-modal">
            <div class="mg-costum-modal-header">
                <div class="mg-costum-modal-header-content">Modificatrion d'une commande</div>
                <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
            </div>
            <div class="mg-costum-modal-body">
                <form action="{% url 'admincos:edit_order' order.order_number %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                        <label for="new-order-status">La statut de la commande</label>
                        <select name="new-order-status" id="new-order-status" class="form-control form-select">
                            {% for id, status in get_all_order_status.items %}
                                <option value="{{ id }}" {% if order.get_status == status %}selected{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="mg-costum-modal-footer">
                <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Modifier</button>
            </div>
        </div>
    </div>

</main>

{% endblock main %}
