{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Fournisseurs{% endblock titre %}

{% block main %}

<style>
    #lable-image-input {
        font-size: 5rem;
        text-align: center;
        color: #0d6efd;
        cursor: pointer;

    }
    #image-input {
        display: none;
    }

</style>

<main class="container" id="new-product-container" style="min-height: 84dvh;">
    <h3 class="text-center text-dark my-2 mt-3">Ajouter un produit</h3>
    <form action="{% url 'admincos:create_product'  %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="category_name">Nom du produit:</label>
            <input class="form-control" required type="text" id="product_name" name="product_name" placeholder="Nom du produit">
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="description">La description du produit:</label>
            <textarea name="description" required  class="form-control" placeholder="Une description du produit"></textarea>
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="category_name">Prix du prouit:</label>
            <input class="form-control"  required type="text" id="price" name="price" placeholder="Prix du prouit">
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="category_name">Nombre en stock:</label>
            <input class="form-control"  required type="number" id="stock" name="stock" placeholder="Nombre en stock">
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="category_name">catégorie:</label>
            <select name="category" class="form-control form-select" id="category">
                {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="category_name">Fournisseuse:</label>
            <select name="supplier" class="form-control form-select" id="supplier">
                {% for supplier in suppliers %}
                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="image-input" id="lable-image-input" class="fa-solid fa-file-arrow-up"></label>
            <input type="file" name="product_image" required  class="text form-control" id="image-input"  accept="image/*" value=" ">
        </div>
        <div id="image-container" class="d-none mb-5">

        </div>

        <div class="w-100 d-flex justify-content-center align-content-center">
            <button type="submit" class="normal-btn border rounded shadow px-4 py-2 mb-4 bg-success text-white fs-4">Ajouter</button>
        </div>
    </form>
</main>
<script src="{% static 'js/costum-script.js' %}" type="text/javascript"></script>
<script>

    addImagesToContainer()
</script>

{% endblock main %}
