<style>

</style>
<div id="adminSideBar" class="shadow shadow-lg">
    <div class="left">
        <ul class="menu-list border-right" id="menu-list">
            <h4 class="text-white px-3 py-1 rounded border shadow">
                Menu
            </h4>
            <li class="menu-list-item" data-submenu="menu-list-1">
                <span>Produits</span>
            </li>
            <li class="menu-list-item" data-submenu="menu-list-2">
                <span>Commandes</span>
            </li>
            <li class="menu-list-item" data-submenu="menu-list-3">
                <span>Fournisseurs</span>
            </li>
            <li class="menu-list-item" data-submenu="menu-list-4">
                <span>Catégorie</span>
            </li>
            <li class="menu-list-item" data-submenu="menu-list-5">
                <span>Archive</span>
            </li>
        </ul>
    </div>
    <button type="button" id="closeAdminSideBar" onclick="closeAdminSideBar(this)" class="normal-btn rounded px-3 py-2"><i class="fa-solid fa-xmark"></i></button>
    <div class="center">
        <ul class="sub menu-list" id="menu-list-1">
            <h4 class="text-white px-3 py-1 rounded border shadow">
                Sous menu de <span class="text-danger">PODUITS</span>
            </h4>
            <li>
                <span>
                    <a href="{% url 'admincos:products_list' %}">Voir la liste des produits</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'admincos:create_product' %}">Ajouter un  nouveau produit</a>
                </span>
            </li>
        </ul>
        <ul class="sub menu-list d-none" id="menu-list-2">
            <h4 class="text-white px-3 py-1 rounded border shadow">
                Sous menu de <span class="text-danger">COMMANDE</span>
            </h4>
            <li>
                <span>
                    <a href="{% url 'admincos:controlepanel' %}">Voir les commandes</a>
                </span>
            </li>
        </ul>
        <ul class="sub menu-list d-none" id="menu-list-3">
            <h4 class="text-white px-3 py-1 rounded border shadow">
                Sous menu de <span class="text-danger">FOURNISSEURS</span>
            </h4>
            <li>
                <span>
                    <a href="{% url 'admincos:list_supplier' %}">Voir les fournisseurs</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'admincos:create_supplier' %}">Ajouter un fournisseurs</a>
                </span>
            </li>
        </ul>
        <ul class="sub menu-list d-none" id="menu-list-4">
            <h4 class="text-white px-3 py-1 rounded border shadow">
                Sous menu de <span class="text-danger">CATEGORIE</span>
            </h4>
            <li>
                <span>
                    <a href="{% url 'admincos:list_categories' %}">Voir les catégories</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'admincos:create_category' %}">Ajouter une catégorie</a>
                </span>
            </li>
        </ul>
        <ul class="sub menu-list d-none" id="menu-list-5">
            <h4 class="text-white px-3 py-1 rounded border shadow">
                Sous menu de l'<span class="text-danger">ARCHIVE</span>
            </h4>
            <li>
                <span>
                    <a href="{% url 'admincos:archived_products' %}">Produits archivés</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'admincos:archived_commandes' %}">Commandes archivées</a>
                </span>
            </li>
        </ul>
    </div>
</div>
<style>

        </style>


<div onclick="handleAdminQuickAccess()" id="admin-quick-access" class="btn fixedBtn add-btn add-article ">
    <i id="admin-quick-access-icon" class="fa-solid fa-bars"></i>
    <ul id="admin-quick-access-menu" class="">
        <li><a href="{% url 'admincos:create_product' %}"><i class="fa-solid fa-plus"></i><span class="one-ligne-text">Ajouter produit</span></a></li>
        <li><a href="{% url 'admincos:controlepanel' %}"><i class="fa-regular fa-basket-shopping"></i><span class="one-ligne-text">Liste des commandes</span></a></li>
    </ul>
</div>




<script>

</script>