{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Fournisseurs{% endblock titre %}

{% block main %}

<style>
    #lable-image-input {
        font-size: 5rem;
        text-align: center;
        color: #0d6efd;
        cursor: pointer;

    }
    #image-input {
        display: none;
    }

</style>

<main class="container" id="new-product-container">
    <h3 class="text-center text-dark my-2 mt-3">Ajouter un produit</h3>
    <form action="{% url 'admincos:create_category'  %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
            <label for="category_name">Nom de la catégorie:</label>
            <input class="form-control" type="text" id="category_name" name="category_name" placeholder="Nom de la catégorie">
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
            <textarea name="category_description" class="form-control" placeholder="Une description de la catégorie"></textarea>
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
            <input type="file" name="category_image" class="text form-control" id="image-input"  accept="image/*" value=" ">
        </div>

        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="image-input" id="lable-image-input" class="fa-solid fa-file-arrow-up"></label>
            <input type="file" name="category_image"  class="text form-control" id="image-input"  accept="image/*" value=" ">
        </div>
        <div id="image-container" class="d-none mb-5">

        </div>

        <div class="w-100 d-flex justify-content-center align-content-center">
            <button type="submit" class="normal-btn border rounded shadow px-4 py-2 mb-4 bg-success text-white fs-4">Ajouter</button>
        </div>
    </form>
</main>
<script src="{% static 'js/costum-script.js' %}" type="text/javascript"></script>
<script>

    addImagesToContainer()
</script>

{% endblock main %}
