{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Fournisseurs{% endblock titre %}

{% block main %}


<main class="container" id="new-supplier-container">
    <h3 class="text-center text-dark my-2 mt-3">Ajouter un fournisseur</h3>
    <form action="{% url 'admincos:create_supplier'  %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="name">Nom du fournisseur :</label>
            <input class="form-control" required type="text" id="name" name="name" placeholder="Nom du fournisseur :">
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="email">Email du fournisseur :</label>
            <input class="form-control"  required type="email" id="email" name="email" placeholder="Email du fournisseur :">
        </div>
        <div class="d-flex flex-column justify-content-start gap-1 mb-2 border px-4 py-2 rounded">
            <label for="phone">N° téléphone du fournisseur ::</label>
            <input class="form-control" required type="text" id="phone" name="phone" placeholder="N° téléphone du fournisseur :">
        </div>

        <div class="w-100 d-flex justify-content-center align-content-center">
            <button type="submit" class="normal-btn border rounded shadow px-4 py-2 mb-4 bg-success text-white fs-4">Ajouter</button>
        </div>
    </form>
</main>
<script src="{% static 'js/costum-script.js' %}" type="text/javascript"></script>
<script>

    addImagesToContainer()
</script>

{% endblock main %}
