{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Controle panel{% endblock titre %}

{% block main %}

<main class="container" style="min-height: 84dvh;">
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Liste des catégories</h3>
        <button type="button" data-modal-targget="modal-create-cat" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="w-100 h-100 border rounded shadow px-4 py-3 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom de la catégorie</th>
                    <th scope="col">Description</th>
                    <th scope="col">nombre de produits</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <th scope="row">
                        <img src="{{ category.cat_image.url }}" alt="IMG" style="width: auto; height: 4rem;">
                    </th>
                    <td>
                        {{ category.category_name }}
                    </td>
                    <td>
                        {{ category.get_pref_description }}
                    </td>
                    <td>
                        <a href="{% url 'category:list_products' category.slug %}">{{ category.num_products }}</a>
                    </td>
                    <td>
                        <button type="button" data-modal-targget="modal-delete-cat-{{category.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-danger text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" data-modal-targget="modal-update-car-{{category.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mg-costum-modal-holder">
            <div id="modal-create-cat" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Ajouter une catégorie</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    <form action="{% url 'category:create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Nom de la catégorie:</label>
                            <input class="form-control" type="text" id="category_name" name="category_name" placeholder="Nom de la catégorie">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <textarea name="category_description" class="form-control" placeholder="Une description de la catégorie"></textarea>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <input type="file" name="category_image" class="text form-control" id="image-input"  accept="image/*" value=" ">
                        </div>
                    </form>
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Ajouter</button>
                </div>
            </div>
            {% for category in categories %}
            <div id="modal-delete-cat-{{category.id}}" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Supprission d'un fournisseurs</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    Vous voulez supprimer <span class="text-danger">{{ category.category_name }}</span> ?
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button class="mg-costum-modal-footer-btn" id="mg-costum-modal-footer-btn-go">
                        <a href="{% url 'category:delete' category.slug %}" class="text-white">Supprimer</a>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% for category in categories %}
            <div id="modal-update-car-{{category.id}}" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Modification de {{ category.category_name }}</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    <form action="{% url 'category:update' category.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="name">Nom de la catégorie :</label>
                            <input class="form-control" type="text" id="category_name" name="category_name" placeholder="Nom de la catégorie" value="{{ category.category_name }}">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="email">Description de la catégorie :</label>
                            <input class="form-control" type="text" name="description" placeholder="Description de la catégorie" value="{{ category.description }}">
                        </div>
                    </form>
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Modifier</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock main %}
