{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Fournisseurs{% endblock titre %}

{% block main %}

<main class="container" id="product-container" style="min-height: 84dvh;">
        <!--  -->
        <div class="card my-3">
            {% if category %}
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th>IMAGE</th>
                            <th>Nom de la catégorie</th>
                            <th>Description</th>
                            <th>Nombre de produits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if category.cat_image %}
                            <td>
                                <img src="{{ category.cat_image.url }}" style="width: auto; height: 5rem;" alt="IMG">
                            </td>
                            {% else %}
                            <td>
                                ----
                            </td>
                            {% endif %}
                            <td>
                                {{ category.category_name }}
                            </td>
                            <td>
                                {{ category.description }}
                            </td>
                            <td>
                                {{ products.count }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% elif supplier %}
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th>Nom</th>
                            <th>Email</th>
                            <th>n° de téléhone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ supplier.name }}
                            </td>
                            <td>
                                {{ supplier.email }}
                            </td>
                            <td>
                                {{ supplier.phone }}
                            </td>
                            <td>
                                {{ products.count }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
        <!--  -->
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Liste des produits{% if category %} de {{ category.category_name }}{% elif supplier  %} de {{ supplier.name }}{% endif %}</h3>
        <button type="button" data-modal-targget="modal-create-prod" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-plus"></i></button>
    </div>
    {% if products %}
    <div class="w-100 h-100 border rounded shadow px-4 py-3 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Fornesseur</th>
                    <th scope="col">In stock</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ product.get_url }}">
                            <img style="width: auto; height: 4rem;" src="{{ product.images.url }}" alt="IMG">
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.get_url }}">
                            {{ product.product_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.category.get_url  }}">
                            {{ product.category }}
                        </a>
                    </td>
                    <td>
                        {% if product.supplier %}
                        <a href="{% url 'supplier:list_products' product.supplier.slug  %}">
                            {{ product.supplier }}
                        </a>
                        {% else %}
                        ------
                        {% endif %}
                    </td>
                    <td>
                        {{ product.stock }}
                    </td>
                    <td>
                        <button type="button" data-modal-targget="modal-delete-prod-{{product.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-danger text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" data-modal-targget="modal-update-prod-{{product.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mg-costum-modal-holder">
            <div id="modal-create-prod" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Ajouter un produit</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    <form action="{% url 'category:add_products'  %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Nom du produit:</label>
                            <input class="form-control" required type="text" id="product_name" name="product_name" placeholder="Nom du produit">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <textarea name="description" required  class="form-control" placeholder="Une description du produit"></textarea>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Prix du prouit:</label>
                            <input class="form-control"  required type="text" id="price" name="price" placeholder="Prix du prouit">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Nombre en stock:</label>
                            <input class="form-control"  required type="number" id="stock" name="stock" placeholder="Nombre en stock">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">catégorie:</label>
                            <select name="category" class="form-control form-select" id="category">
                                {% for categorie in categories %}
                                <option value="{{ categorie.id }}" {% if category.id ==  categorie.id %} selected {% endif %} >{{ categorie.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Fournisseuse:</label>
                            <select name="supplier" class="form-control form-select" id="supplier">
                                {% for supplier in suppliers %}
                                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <input type="file" name="product_image" required  class="text form-control" id="image-input"  accept="image/*" value=" ">
                        </div>
                        <div id="image-container" class="d-none">

                        </div>
                    </form>
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Ajouter</button>
                </div>
            </div>
            {% for product in products %}
            <div id="modal-delete-prod-{{product.id}}" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Supprission d'un produit</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    Vous voulez supprimer <span class="text-danger">{{ product.product_name }}</span> ?
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button class="mg-costum-modal-footer-btn" id="mg-costum-modal-footer-btn-go">
                        <a href="{% url 'category:delete_products' product.slug %}" class="text-white">Supprimer</a>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% for product in products %}
            <div id="modal-update-prod-{{product.id}}" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Modification de {{ category.category_name }}</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    <form action="{% url 'category:update_prod' product.slug  %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Nom du produit:</label>
                            <input class="form-control" type="text" id="product_name" name="product_name" placeholder="Nom du produit" value="{{ product.product_name }}">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <textarea name="description" class="form-control" placeholder="Une description du produit">{{ product.description }}</textarea>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Prix du prouit:</label>
                            <input class="form-control" type="text" id="price" name="price" placeholder="Prix du prouit"  value="{{ product.price }}">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Nombre en stock:</label>
                            <input class="form-control" type="number" id="stock" name="stock" placeholder="Nombre en stock"  value="{{ product.stock }}">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">catégorie:</label>
                            <select name="category" class="form-control form-select" id="category">
                                {% for categorie in categories %}
                                <option value="{{ categorie.id }}" {% if product.category.id ==  categorie.id %} selected {% endif %} >{{ categorie.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <label for="category_name">Fournisseuse:</label>
                            <select name="supplier" class="form-control form-select" id="supplier">
                                {% for supplier in suppliers %}
                                <option value="{{ supplier.id }}" {% if product.supplier.id ==  supplier.id %} selected {% endif %} >{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1 mb-2">
                            <input type="file" name="product_image" class="text form-control" id="image-input"  accept="image/*" value=" ">
                        </div>
                    </form>
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Modifier</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger text-center w-75 mx-auto text-success">
        <h5>Aucun produit dans l'archive pour le montant</h5>
    </div>
    {% endif %}
</main>
<script src="{% static 'js/costum-script.js' %}" type="text/javascript"></script>
<script>

    addImagesToContainer()
</script>

{% endblock main %}
