{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Controle panel{% endblock titre %}

{% block main %}

<main class="container" style="min-height: 84dvh;">
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Liste des fournisseurs</h3>
        <button type="button" data-modal-targget="modal-create-supp" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="w-100 h-100 border rounded shadow px-4 py-3 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">N° téléphone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'supplier:show' supplier.slug %}">
                            {{ supplier.name }}
                        </a>
                    </th>
                    <td>
                        {% if supplier.email %}
                            {{ supplier.email }}
                        {% else %}
                            -----
                        {% endif %} </td>
                    <td>
                        {% if supplier.phone %}
                            {{ supplier.phone }}
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" data-modal-targget="modal-delete-supp-{{supplier.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-danger text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" data-modal-targget="modal-update-supp-{{supplier.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mg-costum-modal-holder">
            <div id="modal-create-supp" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Ajouter un fournisseur</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    <form action="{% url 'supplier:create' %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="name">Nom du fournisseur :</label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="Nom du fournisseur">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="email">Email du fournisseur :</label>
                            <input class="form-control" type="email" name="email" placeholder="Email du fournisseur" >
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="phone">N° téléphone du fournisseur :</label>
                            <input class="form-control" type="text" name="phone" placeholder="N° téléphone du fournisseur">
                        </div>
                    </form>
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Ajouter</button>
                </div>
            </div>
            {% for supplier in suppliers %}
            <div id="modal-delete-supp-{{supplier.id}}" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Supprission d'un fournisseurs</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    Vous voulez supprimer <span class="text-danger">{{ supplier.name }}</span> ?
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button class="mg-costum-modal-footer-btn" id="mg-costum-modal-footer-btn-go">
                        <a href="{% url 'supplier:delete' supplier.slug %}" class="text-white">Supprimer</a>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% for supplier in suppliers %}
            <div id="modal-update-supp-{{supplier.id}}" class="mg-costum-modal">
                <div class="mg-costum-modal-header">
                    <div class="mg-costum-modal-header-content">Modification de {{ supplier.name }}</div>
                    <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)" class="mg-costum-modal-header-close">&times;</span>
                </div>
                <div class="mg-costum-modal-body">
                    <form action="{% url 'supplier:update' supplier.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="name">Nom du fournisseur :</label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="Nom du fournisseur" value="{{ supplier.name }}">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="email">Email du fournisseur :</label>
                            <input class="form-control" type="email" name="email" placeholder="Email du fournisseur" value="{{ supplier.email }}">
                        </div>
                        <div class="d-flex flex-column justify-content-start gap-1">
                            <label for="phone">N° téléphone du fournisseur :</label>
                            <input class="form-control" type="text" name="phone" placeholder="N° téléphone du fournisseur" value="{{ supplier.phone }}">
                        </div>
                    </form>
                </div>
                <div class="mg-costum-modal-footer">
                    <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)" id="mg-costum-modal-footer-btn-close">Annuler</button>
                    <button type="submit" class="mg-costum-modal-footer-btn" onclick="submitForm(this)"  id="mg-costum-modal-footer-btn-go">Modifier</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock main %}
