{% extends '../../base.html' %}

{% load static %}

<link href="{% static 'assets/gm.css' %}" rel="stylesheet"/>
{% block titre %}Fournisseurs{% endblock titre %}

{% block main %}

<main class="container" id="product-container">
        <!--  -->
        <div class="card">
            {% if category %}
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th>IMAGE</th>
                            <th>Nom de la catégorie</th>
                            <th>Description</th>
                            <th>Nombre de produits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if category.cat_image %}
                            <td>
                                <img src="{{ category.cat_image.url }}" style="width: auto; height: 5rem;" alt="IMG">
                            </td>
                            {% else %}
                            <td>
                                ----
                            </td>
                            {% endif %}
                            <td>
                                {{ category.category_name }}
                            </td>
                            <td>
                                {{ category.description }}
                            </td>
                            <td>
                                {{ products.count }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% elif supplier %}
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th>Nom</th>
                            <th>Email</th>
                            <th>n° de téléhone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ supplier.name }}
                            </td>
                            <td>
                                {{ supplier.email }}
                            </td>
                            <td>
                                {{ supplier.phone }}
                            </td>
                            <td>
                                {{ products.count }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
        <!--  -->
    <div class="d-flex justify-content-between align-content-center align-items-center px-5 my-1 border-bottom border-3 ">
        <h3 class="text-center text-dark">Liste des produits{% if category %} de {{ category.category_name }}{% elif supplier  %} de {{ supplier.name }}{% endif %}</h3>
        <button type="button" data-modal-targget="modal-create-prod" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="w-100 h-100 border rounded shadow px-4 py-3 my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Fornesseur</th>
                    <th scope="col">In stock</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ product.get_url }}">
                            <img style="width: auto; height: 4rem;" src="{{ product.images.url }}" alt="IMG">
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.get_url }}">
                            {{ product.product_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.category.get_url  }}">
                            {{ product.category }}
                        </a>
                    </td>
                    <td>
                        {% if product.supplier %}
                        <a href="{% url 'supplier:list_products' product.supplier.slug  %}">
                            {{ product.supplier }}
                        </a>
                        {% else %}
                        ------
                        {% endif %}
                    </td>
                    <td>
                        {{ product.stock }}
                    </td>
                    <td>
                        <button type="button" data-modal-targget="modal-delete-prod-{{product.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-danger text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" data-modal-targget="modal-update-prod-{{product.id}}" onclick="open_close_GM_costum_modal(this)" class="normal-btn bg-success text-white px-2 py-1 rounded">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<script src="{% static 'js/costum-script.js' %}" type="text/javascript"></script>
<script>

    addImagesToContainer()
</script>

{% endblock main %}
